@font-face {
    font-family: 'Atop';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/113376/Atop-R99O3.woff') format('woff');
}

:root {--text: #e4e4ec;
	--background: #0d0c13;
	--primary: #a0a0ca;
	--secondary: #3c3b78;
	--accent: #6867bc;
	}

/*CSS RESET START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.41;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET END*/
/*Din kode UNDER dette!!*/
.header{
	height: 7.5vh;
	width: 100vw;
	background-image: url('../img/fin\ kamel.jpg'); /* Sett stien til bildet ditt */
    background-size:contain; /* Sørger for at bildet dekker hele området */
	display: flex;
	justify-content: center;
	align-items: center;
}


.footer{
	height: 7.5vh;
	width: 100vw;
	background-image: url('../img/fin\ kamel.jpg'); /* Sett stien til bildet ditt */
    background-size: contain; /* Sørger for at bildet dekker hele området */
	display: flex;
	align-items: center;
	justify-content: center;
	color: yellow;
	font-size: 30px;
	font-family: "Atop";
}

.main-icon{
	width: 25vw;
	height: 5vh;
}

.header-wrapper{
	width: 25vw;
	height: 5vh;
	
}


.button{
	width: 10vw;
	height: 5vh;
	border-radius: 0.5rem;
	color: yellow;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000; /* Added */
	font-size: 30px;
	font-family: "Atop";
	background-image: url('../img/fin\ kamel.jpg'); /* Sett stien til bildet ditt */
    background-size: cover; /* Sørger for at bildet dekker hele området */
}
.button-toggle{
	width: 10vw;
	height: 5vh;
	border-radius: 0.5rem;
	color: rgb(255, 255, 255);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000; /* Added */
	font-size: 20px;
	font-family: "Atop";
	background-image: url('../img/fin\ kamel.jpg'); /* Sett stien til bildet ditt */
    background-size: cover; /* Sørger for at bildet dekker hele området */
}

.button:hover{
	transform: scale(1.1);
}

.nav-wrapper{
	width: 75vw;
	height: 7.5vh;
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 1.5vw;
}


.light-mode .header, .light-mode .body, .light-mode .footer {
	background-image: url('../img/fin kamel.jpg'); /* Light mode background image */
}

.dark-mode .header, .dark-mode .body, .dark-mode .footer {
	background-image: url('../img/darkmode.png'); /* Dark mode background image */
}

.body{
	height: 85vh;
	width: 100vw;
	background-image: url('../img/fin\ kamel.jpg'); /* Sett stien til bildet ditt */
	background-size: contain; /* Sørger for at bildet dekker hele området */
	position: relative; /* Ensure the body is positioned */
	align-content: center;
	}

.box {
	width: 20vw; /* Adjust width as needed */
    margin-left: 2vw; /* Position on the left side */
    border: 2px solid #000; /* Add border */
    padding: 1rem; /* Add padding */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    position: relative; /* Ensure the box is positioned */
    z-index: 1; /* Make sure the box is above the background blur */
	background-color: brown;
}

.box:hover {
	transform: translateY(20px); 
}

.imgbox{
	width: 10vw;
	border: 3px solid rgb(255, 239, 90);
    border-radius: 10px;
}

.ninja {
	font-size: 40px;
	text-decoration: none;
	color: aliceblue;
	font-family: Impact;
	background-image: url(../img/black-ninja.png);
}
.egil {
	font-size: 40px;
	text-decoration: none;
	color: rgb(21, 255, 0);
	font-family: Impact;
	background-image: url(../img/black-ninja.png);
}