<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLAIM UR FREE VBUCKS</title>
    <script src="/script/live-reload.js"></script>
    <script src="../script/sigma.js"></script>
    <link rel="stylesheet" href="../style/vbucks.css">
    <script src="../script/bounce.js"></script>
    <link rel="icon" href="../img/black-ninja.png" type="image">
</head>
<body>
    <header>
        <a href="/public/view/index.html" style="font-size: 100px;">tilbake</a>
        <div class="login-container">
            <form class="login-form">
                <h2>Login for FREE VBUCKS</h2>
                <input type="text" placeholder="Username" id="username" required>
                <input type="password" placeholder="Password" id="password">
                <button type="button" id="login-button">Log In</button>
            </form>
        </div>
    </header>
    <div id="bouncing-image-container">
        <a href="/public/view/boom.html">
            <img src="../img/nojus.png" alt="Bouncing Image" id="bouncing-image">
        </a>
    </div>
    <audio id="sigma-sound" src="../img/sigma boy.mp3"></audio>
</body>
</html>